@model ShoeShop.ViewModels.AccountListViewModel
    <br />

    <div class="inputBox headTekst col-12" style="padding: 0;">
        <input type="text" id="SearchInputAccounts" onkeyup="SearchAccountsTable()" placeholder="Search for a Account" style="width: 100%; padding: 0;" class="form-control" />
    </div>
    <table class="table" id="AccountsTable">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Middle Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Accounts.Count; i++)
            {
                <tr data-toggle="collapse" data-target="#demo-@Model.Accounts[i].ID" class="accordion-toggle">
                    <td>@Model.Accounts[i].FirstName</td>
                    <td>@Model.Accounts[i].MiddleName</td>
                    <td>@Model.Accounts[i].LastName</td>
                    <td>@Model.Accounts[i].Email</td>
                </tr>
                <tr>
                    <td colspan="4" class="hiddenRow">
                        <div id="demo-@Model.Accounts[i].ID" class="accordian-body collapse">
                            <div class="row">
                                <div class="col-10">
                                    <b>PhoneNumber : </b> @Model.Accounts[i].PhoneNumber <br />
                                    <b>Country : </b> @Model.Accounts[i].Country <br />
                                    <b>Address : </b> @Model.Accounts[i].Address <br />
                                    <b>City : </b> @Model.Accounts[i].City <br />
                                    <b>Zip Code : </b> @Model.Accounts[i].ZIPcode <br />
                                    <b>Login Name : </b> @Model.Accounts[i].Login.UserName<br />
                                </div>
                                <div class="col-2">
                                    <input type="button" class="btn btn-primary" value="Edit" onclick="EditAccount(@Model.Accounts[i].ID)" /> <br />
                                    <input type="button" class="btn btn-primary" value="Reset Password" onclick="ResetPassword(@Model.Accounts[i].ID)" /> <br />
                                    <input type="button" class="btn btn-primary" value="Delete" onclick="DeleteAccount(@Model.Accounts[i].ID)" />
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>

    <script>
        function EditAccount(id) {
            $.ajax({
                url: '/Manage/EditAccount/' + id,
                success: function (result) {
                    location.reload();
                }
            });
        }
        function DeleteAccount(id) {
            var r = confirm("Are you sure you want to delete this Account?");
            if (r == true) {
                $.ajax({
                    url: '/Manage/DeleteAccount/' + id,
                    success: function (result) {
                        location.reload();
                    }
                });
            } else {
            }
        }
        function ResetPassword(id) {
            var r = confirm("Are you sure you want to reset the password of this Account?");
            if (r == true) {
                $.ajax({
                    url: '/Account/ResetPassword/' + id,
                    success: function (result) {
                        location.reload();
                    }
                });
            } else {
            }
        }

        function SearchAccountsTable() {
            // Variabelen aanmaken
            var input, filter, table, tr, td, i, contains;
            input = document.getElementById("SearchInputAccounts");
            filter = input.value.toUpperCase();
            table = document.getElementById("AccountsTable");
            tr = table.getElementsByTagName("tr");

            // Door alllen tabel rijen lopen en verglijken of een waarden aan de zoekdracht voldoet
            for (i = 0; i < tr.length; i++) {
                if (!tr[i].classList.contains("Header")) {

                    contains = false;
                    tdFirstName = tr[i].getElementsByTagName("td")[0];
                    tdMiddleName = tr[i].getElementsByTagName("td")[1];
                    tdLastName = tr[i].getElementsByTagName("td")[2];
                    tdEmail = tr[i].getElementsByTagName("td")[3];
                    
                    if (tdFirstName) {
                        if (tdFirstName.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            contains = true;
                        }
                    }
                    if (tdMiddleName) {
                        if (tdMiddleName.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            contains = true;
                        }
                    }
                    if (tdLastName) {
                        if (tdLastName.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            contains = true;
                        }
                    }
                    if (tdEmail) {
                        if (tdEmail.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            contains = true;
                        }
                    }
                    if (contains) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>