@model ShoeShop.ViewModels.CheckOutViewModel
@{
    ViewData["Title"] = "Checkout";
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="@Url.Action("ShoppingCart", "Order")">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Checkout</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
        
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Account information</h3>
                    @using (Html.BeginForm("EditAccount", "Manage", FormMethod.Post, new { @class = "row contact_form", id = "RegisterForm" }))
                    {
                        @Html.HiddenFor(Model => Model.accountModel.account.ID)
                        @Html.HiddenFor(Model => Model.accountModel.account.Login.ID)

                        <div class="col-md-6 form-group p_star">
                            @Html.EditorFor(model => Model.accountModel.account.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
                            @Html.ValidationMessageFor(model => Model.accountModel.account.FirstName)
                        </div>
                        <div class="col-md-6 form-group p_star">
                            @Html.EditorFor(model => Model.accountModel.account.MiddleName, new { htmlAttributes = new { @class = "form-control", placeholder = "Middel Name" } })
                            @Html.ValidationMessageFor(model => Model.accountModel.account.MiddleName)
                        </div>
                        <div class="col-md-6 form-group p_star">
                            @Html.EditorFor(model => Model.accountModel.account.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                            @Html.ValidationMessageFor(model => Model.accountModel.account.LastName)
                        </div>
                        <div class="col-md-6 form-group p_star">
                            @Html.EditorFor(model => Model.accountModel.account.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Phonenumber" } })
                            @Html.ValidationMessageFor(model => Model.accountModel.account.PhoneNumber)
                        </div>
                        <div class="col-md-6 form-group p_star">
                            @Html.EditorFor(model => Model.accountModel.account.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => Model.accountModel.account.Email)
                        </div>


                        <div class="col-md-12 form-group p_star">
                            @Html.EditorFor(model => Model.accountModel.account.Country, new { htmlAttributes = new { @class = "form-control", placeholder = "Country" } })
                            @Html.ValidationMessageFor(model => Model.accountModel.account.Country)
                        </div>
                        <div class="col-md-12 form-group p_star">
                            @Html.EditorFor(model => Model.accountModel.account.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address" } })
                            @Html.ValidationMessageFor(model => Model.accountModel.account.Address)
                        </div>
                        <div class="col-md-12 form-group p_star">
                            @Html.EditorFor(model => Model.accountModel.account.City, new { htmlAttributes = new { @class = "form-control", placeholder = "City" } })
                            @Html.ValidationMessageFor(model => Model.accountModel.account.City)
                        </div>
                        <div class="col-md-12 form-group p_star">
                            @Html.EditorFor(model => Model.accountModel.account.ZIPcode, new { htmlAttributes = new { @class = "form-control", placeholder = "ZIP code" } })
                            @Html.ValidationMessageFor(model => Model.accountModel.account.ZIPcode)
                        </div>
                    }
                </div>

                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Your Order</h2>
                        <ul class="list">

                            @for (int i = 0; i < Model.items.Count; i++)
                            {
                                <li><a href="#">@Model.items[i].shoe.Name  <span class="last">€@Model.items[i].shoe.Price</span></a></li>
                            }
                        </ul>
                        <ul class="list list_2">
                            <li><a href="#">Total <span>€@Model.items.Sum(item => item.shoe.Price)</span></a></li>
                        </ul>
                        <div class="payment_item">
                            <div class="radion_btn">
                                <input type="radio" id="f-option5" name="selector">
                                <label for="f-option5">IDEAL</label>
                                <div class="check"></div>
                            </div>
                            <p>
                                Pay via IDEAL; you can pay with any bank account which supports ideal
                            </p>
                        </div>
                        <div class="payment_item active">
                            <div class="radion_btn">
                                <input type="radio" id="f-option6" name="selector">
                                <label for="f-option6">Paypal </label>
                                <img src="img/product/card.jpg" alt="">
                                <div class="check"></div>
                            </div>
                            <p>
                                Pay via PayPal; you can pay with your credit card if you don’t have a PayPal
                                account.
                            </p>
                        </div>
                        <a class="primary-btn" href="#">Proceed to Pay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->