@model ShoeShop.ViewModels.ManageViewModel
@{
    ViewData["Title"] = "Index";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Manage</h1>
                <nav class="d-flex align-items-center">
                    <a href="@Url.Action("Index", "Home")">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Manage</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<section class="">
    <div class="container"  style="background-color: white; background-image: none;">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-shoes-tab" data-toggle="pill" href="#pills-shoes" role="tab" aria-controls="pills-shoes" aria-selected="true">Shoes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-Account-tab" data-toggle="pill" href="#pills-Account" role="tab" aria-controls="pills-Account" aria-selected="false">Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-order-tab" data-toggle="pill" href="#pills-order" role="tab" aria-controls="pills-order" aria-selected="false">Orders</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-shoes" role="tabpanel" aria-labelledby="pills-shoes-tab">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-listShoes-tab" data-toggle="pill" href="#v-pills-listShoes" role="tab" aria-controls="v-pills-listShoes" aria-selected="true">All Shoes</a>
                    <a class="nav-link" id="v-pills-addShoe-tab" data-toggle="pill" href="#v-pills-addShoe" role="tab" aria-controls="v-pills-addShoe" aria-selected="false">Add Shoe</a>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-listShoes" role="tabpanel" aria-labelledby="v-pills-listShoes-tab">
                        <!--List Shoes-->
                        @Html.Partial("PartialViews/_ShoeList", Model.shoeListViewModel)
                    </div>
                    <div class="tab-pane fade" id="v-pills-addShoe" role="tabpanel" aria-labelledby="v-pills-addShoe-tab">
                        <!--List Shoes-->
                        @Html.Partial("PartialViews/_CreateNewShoe", Model.newShoeViewModel)
                    </div>
                </div>
            </div>



            <div class="tab-pane fade" id="pills-Account" role="tabpanel" aria-labelledby="pills-Account-tab">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-listAccounts-tab" data-toggle="pill" href="#v-pills-listAccounts" role="tab" aria-controls="v-pills-listAccounts" aria-selected="true">All Accounts</a>
                    <a class="nav-link" id="v-pills-addAccount-tab" data-toggle="pill" href="#v-pills-addAccount" role="tab" aria-controls="v-pills-addAccount" aria-selected="false">Add Account</a>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-listAccounts" role="tabpanel" aria-labelledby="v-pills-listAccounts-tab">
                        <!--List Accounts-->
                        @Html.Partial("PartialViews/_AccountList", Model.accountListViewModel)
                    </div>
                    <div class="tab-pane fade" id="v-pills-addAccount" role="tabpanel" aria-labelledby="v-pills-addAccount-tab">
                        <!--List Accounts-->
                        @Html.Partial("PartialViews/_CreateNewAccount", Model.registerViewModel)
                    </div>
                </div>
            </div>


            <div class="tab-pane fade" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">
                @Html.Partial("PartialViews/_OrderList", Model.orderListViewModel)
            </div>
        </div>
    </div>
</section>
