@model ShoeShop.ViewModels.ProductIndexViewModel
@{
    ViewData["Title"] = "Products";
}


<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shop</h1>
                <nav class="d-flex align-items-center">
                    <a href="@Url.Action("Index", "Home")">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Shop<span class="lnr"></span></a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">Browse Categories</div>
                <ul id="GroupHolder" onchange="ChangeFilters()">
                    @for (int i = 0; i < Model.groups.Count; i++)
                    {
                        <li class="filter-list">
                            <input class="pixel-radio" type="radio" id="@Model.groups[i].Name" value="@Model.groups[i].Name" name="GroupName">
                            <label for="@Model.groups[i].Name">
                                @Model.groups[i].Name
                            </label>
                        </li>
                    }
                </ul>
            </div>
            <div class="sidebar-filter mt-50">
                <div class="top-filter-head">Product Filters</div>
                <div class="common-filter">
                    <div class="head">Brands</div>
                    <ul id="BrandHolder" onchange="ChangeFilters()">
                        @for (int i = 0; i < Model.brands.Count; i++)
                        {
                            <li class="filter-list">
                                <input class="pixel-radio" type="radio" id="@Model.brands[i].Name" value="@Model.brands[i].Name" name="BrandName">
                                <label for="@Model.brands[i].Name">
                                    @Model.brands[i].Name
                                </label>
                            </li>
                        }
                    </ul>
                </div>
                <div class="common-filter">
                    <div class="head">Color</div>
                    <ul id="ColorHolder" onchange="ChangeFilters()">
                        @for (int i = 0; i < Model.Colors.Count; i++)
                        {
                            <li class="filter-list">
                                <input class="pixel-radio" type="radio" id="@Model.Colors[i]" value="@Model.Colors[i]" name="ColorName">
                                <label for="@Model.Colors[i]">
                                    @Model.Colors[i]
                                </label>
                            </li>
                        }
                    </ul>
                </div>
                <br/>
                <br/>
                <div class="top-filter-head">
                <input type="button" class="btn" value="Reset Filters" onclick="ResetFilters()" style="width: 100%; background-color: white;"/>
                </div>
                
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting">
                    <select id="SortSelect" onchange="ChangeFilters()">
                        <option value="Alphabetical">Alphabetical</option>
                        <option value="Price">Price</option>
                        <option value="Popularity">Popularity</option>
                    </select>
                </div>
                <div class="sorting mr-auto">
                    <select id="ResultsSelect" onchange="ChangeFilters()">
                        <option value="6">Show 6</option>
                        <option value="9">Show 9</option>
                        <option value="12">Show 12</option>
                    </select>
                </div>
            </div>
            <!-- End Filter Bar -->
            <section class="lattest-product-area pb-40 category-list">
                <div class="row" id="ProductHolder">
                    @Html.Partial("ProductOverView", Model.ProductOverViewViewModel)
                </div>
            </section>
        </div>
    </div>
</div>

<br /><br /><br />	<br /><br /><br />

<script>
    var Page = 1;
    function ChangePage(page) {
        Page = page;
        ChangeFilters();
    }

    function ResetFilters() {
        $('input[name=BrandName]:checked', '#BrandHolder').prop('checked', false);
        $('input[name=GroupName]:checked', '#GroupHolder').prop('checked', false);
        $('input[name=ColorName]:checked', '#ColorHolder').prop('checked', false);

        ChangeFilters();
    }

    function ChangeFilters() {
        var brand = $('input[name=BrandName]:checked', '#BrandHolder').val();
        var group = $('input[name=GroupName]:checked', '#GroupHolder').val();
        var Color = $('input[name=ColorName]:checked', '#ColorHolder').val();
        var sort = $("#SortSelect option:selected").val();
        var NumOfResults = $("#ResultsSelect option:selected").val();
        
        //string brand, string group, string Color, string sort, int NumOfResults, int Page

        var url = '/Product/ProductOverView?brand=' + brand + "&group=" + group + "&Color=" + Color + "&sort=" + sort + "&NumOfResults=" + NumOfResults + "&Page=" + Page;
        console.log(url);

        $.ajax({
            url: url,
            success: function (result) {
                console.log(result);
                $('#ProductHolder').html(result);
            }
        });
    }
</script>